* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Root Variables */
:root {
    /* Colors */
    --primary-background: #2f2922;
    --secondary-background: #494136;
    --primary-accent: #ffa333;
    --secondary-accent: #ffd199;
    --font-color: #fef3e6;
    --shadow: #000000;

    /* Other Variables */
    --transition: 0.25s ease-in-out;
    --border-radius-large: 6px;
    --border-radius-normal: 4px;
    --box-shadow-small: 0 0 3px var(--shadow);
    --box-shadow-normal: 0 0 6px var(--shadow);
    --box-shadow-large: 0 0 8px var(--shadow);
    --box-shadow-normal-inv: 0 2px 4px #ffffff;
    --box-shadow-large-inv: 0 4px 8px #ffffff;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: var(--font-color);
    transition: 0.5s ease-out;
}

/* Globals */
button {
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color: #00000000;
    border-radius: var(--border-radius-large);
}

p {
    font-size: large;
    font-weight: bold;
    color: var(--font-color);
}

input[type="radio"] {
    display: none;
}

input[type="text"] {
    all: unset;
}

.divider {
    border-bottom: 1px solid var(--primary-background);
}

.card {
    padding: 12px;
    width: 100%;
    max-width: 400px;
    border-radius: var(--border-radius-large);
    box-shadow: var(--box-shadow-normal) inset;
    border: 3px solid var(--secondary-accent);
    background-color: var(--secondary-background);
    transition: 0.5s ease-out;
}

.card h2 {
    text-align: center;
    margin-bottom: 10px;
    color: var(--font-color);
}

/* Main */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
}

main > div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    transform: scale(1.5);
    filter: opacity(0);
    transition: 0.5s ease-out;
}

/* Areas */
#settings-area {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
    background-color: var(--primary-background);
    overflow-y: scroll;
}

#game-area {
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    gap: 10px;
    background-color: var(--primary-background);
}

#score-area {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    background-color: var(--primary-background);
    align-items: center;
}

/* ---------- Game Area ---------- */
/* Display */
#game-indicator {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 5%;
    border-bottom: 3px solid var(--secondary-accent);
    box-shadow: var(--box-shadow-normal);
}

#brick-indicator {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 3px;
    height: 90%;
    max-width: 50px;
    max-height: 50px;
    aspect-ratio: 1/1;
}

#next-brick-indicator {
    display: grid;
}

#game-indicator p:first-child {
    display: none;
}

#game-display {
    display: grid;
    padding: 4px;
    height: 75%;
    aspect-ratio: 0.5;
    width: fit-content;
    border-radius: var(--border-radius-large);
    border: 5px solid var(--secondary-accent);
    box-shadow: var(--box-shadow-large) inset;
    background-color: var(--secondary-background);
}

#next-brick-indicator div,
#game-display div {
    border: 3px solid var(--secondary-accent);
    background-color: var(--primary-accent);
    border-radius: 8%;
    margin: 8%;
    transition: var(--transition);
    box-shadow: var(--box-shadow-normal);
}

/* Controls */
#control-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

.control-button {
    font-size: 1.8rem;
    transition: 0.05s ease-in-out;
    color: var(--secondary-accent);
    border: 5px solid var(--secondary-accent);
    box-shadow: var(--box-shadow-normal);
}

.control-button:active {
    box-shadow: var(--box-shadow-small);
    transform: scale(0.98);
}

#power-buttons {
    display: none;
    width: 90%;
    justify-content: space-evenly;
}

#power-buttons button {
    font-size: 3rem;
    color: var(--secondary-accent);
    background-color: #00000000;
    margin: 0 15px;
}

#game-controls {
    display: flex;
    align-items: center;
    gap: 30px;
    height: 100%;
    aspect-ratio: 1.8;
}

#game-controls > button {
    flex-grow: 1;
    height: 60%;
}

#game-controls > div {
    display: grid;
    grid-template-rows: repeat(2, auto);
    flex-grow: 2;
    height: 80%;
    gap: 30px;
}

/* ---------- Settings Area ---------- */

/* Game Selector */
#game-selector {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#game-selector-images {
    display: flex;
    width: 300%;
    transition: transform 0.5s ease-in-out;
}

#game-selector-controls {
    display: flex;
    justify-content: space-between;
}

#game-selector-controls button {
    width: 60px;
    font-size: 1.5rem;
    color: var(--primary-background);
    border: 2px solid var(--primary-background);
}

#game-selector-controls p {
    font-size: 1.2rem;
    font-weight: 600;
    margin: auto 0;
    color: var(--font-color);
}

#carousel-container {
    overflow: hidden;
    border: 3px solid var(--primary);
}

.carousel-image {
    width: 33.33%;
    object-fit: cover;
}

/* Settings Options */
.settings-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 6px 8px 6px;
}

.settings-option button {
    color: var(--font-color);
    background-color: var(--secondary-background);
    font-size: 1.4rem;
    padding: 3px 6px;
}

.settings-option button:active {
    background-color: var(--primary-accent);
}

.settings-option p {
    color: var(--font-color);
}

.number-selector {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-content: center;
    grid-gap: 12px;
}

/* Color Selector */
#color-options {
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 6px;
}

#color-options div {
    display: flex;
    align-items: center;
}

#color-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 10px;
}

/* Number Selector */
.number-selector p {
    text-align: center;
    align-content: center;
    border: 2px solid var(--primary-background);
    border-radius: var(--border-radius-normal);
    padding: 0 12px;
}

/* Toggle Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-background);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: var(--secondary-background);
    box-shadow: var(--box-shadow-small);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider.round {
    box-shadow: var(--box-shadow-small) inset;
    border-radius: var(--border-radius-large);
}

.slider.round:before {
    border-radius: var(--border-radius-normal);
}

input:checked + .slider {
    background-color: var(--primary-accent);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#start-button {
    width: 100%;
    font-size: 1.5rem;
    color: var(--font-color);
    border: 1px solid var(--primary-background);
    max-width: 400px;
    padding: 3px;
    box-shadow: var(--box-shadow-normal);
    background-color: var(--secondary-background);
}

/* ---------- Score Area ---------- */
#score-area h1,
#high-score > p {
    text-align: center;
    color: var(--font-color);
}

#high-score {
    display: flex;
    justify-content: space-around;
    padding-bottom: 6px;
    border-bottom: 1px solid var(--secondary-background);
}

#score-header {
    display: flex;
    justify-content: space-between;
    margin: 0 6px;
}

#close-score {
    font-size: 2rem;
    color: var(--font-color);
}

#player-input label {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--font-color);
}

.input-group {
    display: flex;
    margin-top: 10px;
    padding: 4px 4px;
}

.input-group input {
    width: 100%;
    font-size: 1.3rem;
    padding: 3px 6px;
}

.input-group button {
    font-size: 1.3rem;
    padding: 0 8px;
    box-shadow: var(--box-shadow-small);
    background-color: var(--primary-background);
    color: var(--font-color);
    border-radius: var(--border-radius-normal);
}

#score-table {
    height: 100%;
    overflow-y: scroll;
}

#score-table table {
    width: 100%;
    border-collapse: collapse;
}

#score-table td {
    padding: 2px 6px;
    border: 1px solid var(--primary-background);
}

.social-networks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.social-networks a {
    color: var(--font-color);
    font-size: 2.2rem;
}

/* ---------- Property Setters ---------- */
.hide-element {
    transform: scale(0.3);
    filter: opacity(0);
}

.show-element-a {
    display: flex;
    transform: scale(1);
    filter: opacity(1);
}

.hide-element-a {
    transform: scale(1.2);
    filter: opacity(0);
}

.closed-element-a {
    transform: scale(0.8);
    filter: opacity(0);
}

.display-flex {
    display: flex;
}

.color-label {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: var(--border-radius-large);
    cursor: pointer;
    margin: 0 10px;
    border: 1px solid var(--shadow);
    box-shadow: var(--box-shadow-small) inset;
    transition: 0.1s ease-out;
}

input[type="radio"]:checked + .color-label {
    box-shadow: var(--box-shadow-small);
    transform: scale(1.2);
}

@media screen and (min-width: 660px) and (orientation: landscape) {
    #game-area {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .left-handed {
        flex-direction: row-reverse !important;
    }

    #game-indicator {
        height: 98%;
        width: 50%;
        flex-direction: column;
        border-bottom: unset;
        box-shadow: none;
    }

    #game-display {
        height: 98%;
    }

    #control-area {
        flex-direction: column;
        justify-content: space-between;
        height: 98%;
    }

    #power-buttons {
        display: flex !important;
        justify-content: flex-end;
    }

    #power-buttons button {
        font-size: 2.5rem;
    }

    #game-controls {
        display: flex !important;
        max-width: 300px;
        width: 90%;
        height: fit-content;
        margin: auto;
        aspect-ratio: 1.5;
    }

    #game-indicator p:first-child {
        display: unset;
    }

    #brick-indicator {
        max-width: 60px;
        max-height: 60px;
    }
}

@media screen and (min-width: 992px) and (orientation: landscape) {
    body {
        justify-content: center;
    }

    main > div {
        max-width: 1200px;
        width: 95%;
        height: 95%;
        box-shadow: var(--box-shadow-large);
        border-radius: var(--border-radius-large);
    }

    #game-display {
        height: 96%;
    }

    #game-controls {
        max-width: 350px;
    }
}
