* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-background: #2c2f33;
    --secondary-background: #868788;
    --primary-accent: #5873d3;
    --secondary-accent: #9fb1f1;
    --shadow: #000000;

    /* Other Variables */
    --transition: 0.3s ease-in-out;
    --border-radius-large: 6px;
    --border-radius-normal: 4px;
    --box-shadow-small: 0 0 4px var(--shadow);
    --box-shadow-normal: 0 0 6px var(--shadow);
    --box-shadow-large: 0 0 8px var(--shadow);
    --box-shadow-normal-inv: 0 2px 4px #ffffff;
    --box-shadow-large-inv: 0 4px 8px #ffffff;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: var(--secondary-background);
}

button {
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color: #00000000;
    border-radius: var(--border-radius-large);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    gap: 10px;
    width: 100%;
    filter: opacity(0);
    transform: scale(0.8);
    transition: 0.5s ease-in-out;
    background-color: var(--primary-background);
}

p {
    font-size: large;
    font-weight: bold;
    color: var(--secondary-accent);
}

input[type="radio"] {
    display: none;
}

.color-label {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: var(--border-radius-large);
    cursor: pointer;
    margin: 0 10px;
}

input[type="radio"]:checked + .color-label {
    border: 2px solid #fff;
}

.card {
    border-radius: var(--border-radius-large);
    box-shadow: var(--box-shadow-normal);
    border: 1px solid var(--primary-background);
    padding: 12px;
    width: 100%;
    max-width: 400px;
}

.card h2 {
    text-align: center;
    margin-bottom: 10px;
    color: var(--primary-background);
}

#color-options {
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: space-evenly;
    width: 100%;
}

#color-options div {
    display: flex;
    align-items: center;
}

#color-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 10px;
    /* width: 100%; */
}

#game-indicator {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 5%;
    border-bottom: 3px solid var(--secondary-accent);
    box-shadow: var(--box-shadow-normal);
}

#game-display {
    display: grid;
    padding: 4px;
    height: 75%;
    aspect-ratio: 0.5;
    width: fit-content;
    border-radius: var(--border-radius-large);
    border: 5px solid var(--secondary-accent);
    box-shadow: var(--box-shadow-large) inset;
}

#next-brick-indicator div,
#game-display div {
    border: 3px solid var(--secondary-accent);
    background-color: var(--primary-accent);
    border-radius: 8%;
    margin: 8%;
    transition: var(--transition);
    box-shadow: var(--box-shadow-normal);
}

#control-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

#power-buttons {
    display: none;
    width: 90%;
    justify-content: space-evenly;
}

#game-controls {
    display: flex;
    align-items: center;
    gap: 30px;
    height: 100%;
    aspect-ratio: 1.8;
}

#power-buttons button {
    font-size: 3rem;
    color: var(--secondary-accent);
    background-color: #00000000;
    margin: 0 15px;
}

#game-controls > div {
    display: grid;
    grid-template-rows: repeat(2, auto);
    flex-grow: 2;
    height: 80%;
    gap: 30px;
}

#game-controls > button {
    flex-grow: 1;
    height: 60%;
}

.control-button {
    font-size: 1.8rem;
    transition: 0.05s ease-in-out;
    color: var(--secondary-accent);
    border: 5px solid var(--secondary-accent);
    box-shadow: var(--box-shadow-normal);
}

.control-button:active {
    box-shadow: var(--box-shadow-small);
    transform: scale(0.98);
}

#brick-indicator {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 3px;
    height: 90%;
    max-width: 50px;
    max-height: 50px;
    aspect-ratio: 1/1;
}

#next-brick-indicator {
    display: grid;
}

#game-indicator p:first-child {
    display: none;
}

/* Settings */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.5s ease-in-out;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    width: 90%;
    height: 90%;
    padding: 10px;
    background-color: var(--secondary-background);
    border-radius: var(--border-radius-large);
    box-shadow: var(--box-shadow-large);
    overflow-y: scroll;
}

#game-selector {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#carousel-container {
    overflow: hidden;
    border: 3px solid var(--primary);
    border-radius: var(--border-radius-normal);
    background-color: var(--primary-background);
}

#game-selector-images {
    display: flex;
    width: 300%;
    transition: transform 0.5s ease-in-out;
}

.carousel-image {
    width: 33.33%;
    object-fit: cover;
}

#game-selector-controls {
    display: flex;
    justify-content: space-between;
}

#game-selector-controls button {
    width: 60px;
}

#game-selector-controls p {
    font-size: 1.2rem;
    font-weight: 600;
    margin: auto 0;
    color: var(--primary-background);
}

.settings-field {
    width: 100%;
}

.settings-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 6px 8px 6px;
}

.number-selector {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-content: center;
    grid-gap: 12px;
}

.settings-option button {
    background-color: var(--secondary-background);
    font-size: 1.4rem;
    padding: 3px 6px;
}

.settings-option button:active {
    background-color: var(--primary-accent);
}

.settings-option p {
    color: var(--primary-background);
}

.number-selector p {
    text-align: center;
    align-content: center;
    border: 2px solid var(--primary-background);
    border-radius: var(--border-radius-normal);
    padding: 0 12px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-background);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--secondary-background);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: var(--primary-accent);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: var(--border-radius-large);
}

.slider.round:before {
    border-radius: var(--border-radius-normal);
}

.devider {
    border-bottom: 1px solid var(--primary-background);
}

#start-button {
    width: 100%;
    font-size: 1.5rem;
    color: var(--primary-background);
    border: 3px solid var(--primary-background);
}

/* Property setters */
.hide-element {
    transform: scale(0.3);
    filter: opacity(0);
}

@media screen and (min-width: 660px) and (orientation: landscape) {
    main {
        flex-direction: row;
        justify-content: space-evenly;
        max-width: 1200px;
    }

    .left-handed {
        flex-direction: row-reverse;
    }

    #game-indicator {
        height: 98%;
        width: 50%;
        flex-direction: column;
        border-bottom: unset;
        box-shadow: none;
    }

    #game-display {
        height: 98%;
    }

    #control-area {
        flex-direction: column;
        justify-content: space-between;
        height: 98%;
    }

    #power-buttons {
        display: flex;
        justify-content: flex-end;
    }

    #power-buttons button {
        font-size: 2.5rem;
    }

    #game-controls {
        display: flex;
        max-width: 300px;
        width: 90%;
        height: fit-content;
        margin: auto;
        aspect-ratio: 1.5;
    }

    #game-indicator p:first-child {
        display: unset;
    }

    #brick-indicator {
        max-width: 60px;
        max-height: 60px;
    }

    #game-selector {
        max-width: 250px;
    }
}

@media screen and (min-width: 992px) and (orientation: landscape) {
    body {
        justify-content: center;
    }

    main {
        height: 95%;
        width: 95%;
        flex-grow: unset;
        border-radius: var(--border-radius-large);
        box-shadow: var(--box-shadow-large);
    }

    #game-display {
        height: 96%;
    }

    #game-controls {
        max-width: 350px;
    }

    #brick-indicator {
        max-width: 80px;
        max-height: 80px;
    }
}
